.details-header {
  height: 10vh;
}

.details-page > a {
 height: 100%;
 width: 100%;
 display: flex;
 align-self: flex-start;
 margin: 2% 4%;
 text-decoration: none;
}

/* .back-btn {
  padding: 5%;
} */