.filter-btn-container {
  margin-bottom: 2em;
}

.filter-btn {
  margin: 0em 0.8em;
  padding: 0.6em;
  font-size: 1em;
  font-weight: 700;
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: rgb(61, 10, 85);
  color: #fff;
}