html,
body {
  height: 100vh;
  margin: 0;
  /* padding: 0em 2.5em; */
  text-align: center;
  /* display: flex;
  justify-content: center; */
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
